@{
    ViewData["Title"] = "Home Page";
}

<style>
    * {
        margin: 0;
        padding: 0;
    }

    body {
        margin: 0;
        font-family: 'Century Gothic';
        font-size: 17px;
        color: #fff;
        line-height: 1.6;
        background: #1B1B1B;
    }

    #showcase {
        background-image: url(/Content/HomeBackground2.jpg);
        background-size: cover;
        background-position: center;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0 20px;
    }

        #showcase h1 {
            font-size: 50px;
            line-height: 1.2;
        }

        #showcase p {
            font-size: 20px;
        }

        #showcase .button {
            font-size: 18px;
            text-decoration: none;
            color: #fff;
            border: #fff 1px solid;
            padding: 10px 20px;
            border-radius: 10px;
            margin-top: 20px;
        }

            #showcase .button:hover {
                background: #fff;
                color: #000;
            }

    #section-a {
        padding: 20px;
        background: #fff color: #
    }
</style>




<header id="showcase">
    <h1>Welcome to the CarWise</h1>
    <p>The simplest & fastest way to rent a car online</p>
    <a href="#" class="button">Read More</a>



</header>
<section id="section-a">

    <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
        It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publish
        ing software like Aldus PageMaker including versions of Lorem Ipsum

    </p>
</section>

<section id="section-b">

    <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
        It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publish
        ing software like Aldus PageMaker including versions of Lorem Ipsum

    </p>
</section>
<section id="section-c">
    <div class="box1">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    </div>
    <div class="box2">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    </div>
    <div class="box3">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    </div>
</section>
