@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/home_page.css" />

<header id="showcase">
    <h1>Welcome to the CarWise</h1>
    <p>The simplest & fastest way to rent a car online</p>
    <a href="#section-icons" class="button">Read More</a>



</header>

<section id="section-icons">

    <div class="box1">
        <img src="~/Content/HomePage/faq.png" alt="faq_image">
        <a asp-controller="Faq" asp-action="Index" class="button">FAQ</a>
        <p>You will find answers to the most frequently asked questions here</p>

    </div>
    <div class="box2">
        <img src="~/Content/HomePage/car.png" alt="car_image">
        <a asp-controller="Rent" asp-action="Index" class="button">Rent a car</a>
        <p>Choose the model, brand and the most suitable date for you, and we will take care of the rest.</p>
    </div>
    <div class="box3">
        <img src="~/Content/HomePage/services.png" alt="services_image">
        <a asp-controller="Login" asp-action="Index" class="button">Services</a>
        <p>Website management panel, intended for our administration only</p>
</div>
</section>
