body {
    font-family: 'Poppins', sans-serif;
    background-color: #1B1B1B;
    color: #fff;
}

body {
    background-color: #202020;
    font-family: 'Poppins', sans-serif;
    color: #fff;


}

form {
    max-width: 600px;
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
}

.form-group input[type="submit"] {
    margin-right: 10px;
    background-color: #337ab7;
    border-color: #2e6da4;
    color: #fff;
}

.form-group a {
    color: #fff;

}

    .form-group a:hover {
        text-decoration: none;
    }

.text-danger {
    color: #ff6b6b;
}

h1 {
    text-align: center;
}

hr {

}

.col-md-3 {
    padding-left: 50px;
}
.col-md-4{
    margin: 0 auto;

}
.form-control {
    background-color: #404040;
    color: #fff;
    border: none;
}

label {
    font-weight: bold;
    color: #fff;
}
h4 {
    border-bottom: 1px solid #fff;
    padding-bottom:15px;
}