body {
    font-family: 'Work Sans', sans-serif;
    background-color: #1B1B1B;
    color: #fff;
}

p {
    font-size: 17px;
}

.faq-heading {
    border-bottom: #777;
    padding: 20px 60px;
    background-color: #000;
}

.faq-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hr-line {
    width: 60%;
    margin: auto;
}
/* Style the buttons that are used to open and close the faq-page body */
.faq-page {
    /*  background-color: #1B1B1B;*/
    color: #fff;
    cursor: pointer;
    padding: 30px 20px;
    width: 60%;
    border-bottom: ridge;
    border-color: #353535;
    outline: none;
    transition: 0.4s;
    margin: auto;
    font-size: 25px;
}

.faq-body {
    margin: auto;
    /* text-align: center; */
    width: 50%;
    padding: auto;
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.faq-page:hover {
    background-color: #353535;
}
/* Style the faq-page panel. Note: hidden by default */
.faq-body {
    padding: 0 18px;
    background-color: #1B1B1B;
    display: none;
    overflow: hidden;
}

.faq-page:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 17px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}

img {
    width: 100%;
}

.menu {
    background-color: #000;
    font-size: 25px;
    padding: 10px;
}

.brand_name {
    font-size: 30px;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 50px;
}

div .brand_name:hover {
    background-color: #777;
}
