body {
    font-family: 'Work Sans', sans-serif;
   /* background-color: #1B1B1B;*/
    /*background: linear-gradient(121deg, rgba(46,58,73,1) 0%, rgba(0,0,0,1) 99%);*/
    background-image: url(/Content/Login/login_background.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
}

/*xxxxxxxxxxxxxxxxxx NAVIGATION MENU xxxxxxxxxxxxxxxxxx*/
header {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 50px;
    background: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Logo {
    text-align: center;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
}

.nav {
    display: flex;
    align-items: center;
}

    .nav ol {
        display: flex;
        list-style: none;
    }


.btn {
    position: relative;
    width: 25px;
    height: 25px;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    display: none;
}

    .btn::before {
        content: url(/Content/NavigationMenu/menu_icon.png);
        display: flex;
        padding: 5px 5px 0 3px;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        font-family: 'Font Awesome 5 Free';
        font-weight: 700;
        font-size: 2em;
    }


.nav ol li {
    margin: 1em;
}

    .nav ol li a {
        text-decoration: none;
        padding: 0.2em 1.2em 0.9em 1.2em;
        border-radius: 10px 10px 0 0;
        color: #c9c9c9;
        transition: all .4s;
        position: relative;
        z-index: 1;
    }

        .nav ol li a::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 41px;
            border-radius: 10px 10px 0 0;
            background: #3491D9;
            transform-origin: bottom;
            background: linear-gradient(to left top, #2b77b3, #392bb3);
            transform: scaleY(0.05);
            z-index: -1;
            transition: all .4s;
        }

        .nav ol li a:hover::before {
            transform: scaleY(1.1);
        }

        .nav ol li a:hover {
            color: white;
        }

@media (max-width: 1200px) {
    .btn {
        display: flex;
        z-index: 9999;
    }

    header {
        justify-content: space-between;
        padding: 0 2em;
    }

    .nav {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        background: #000;
        transform: translateY(-110%);
        transition: all .4s;
        z-index: 90;
    }

    input:checked ~ .nav {
        transform: translateY(0%);
    }

    input:checked::before {
        content: url(/Content/NavigationMenu/menu_icon.png);
    }
}

@media (max-width: 700px) {

    .nav ol {
        flex-direction: column;
        text-align: center;
    }
}
/*xxxxxxxxxxxxxxxxxx NAVIGATION MENU xxxxxxxxxxxxxxxxxx*/


* {
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    padding: 0 20px 0 20px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.row {
    width: 900px;
    height: 550px;
    border-radius: 10px;
    background: #13171c;
    box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.2);
}

.side-image {
    background-image: url(/Content/Login/login_car.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 10px 0 0 10px;
}

img {
    width: 35px;
    position: absolute;
    top: 30px;
    left: 30px;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.right {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.input-box {
    width: 330px;
    box-sizing: border-box;
}

    .input-box header {
        font-weight: 700;
        text-align: center;
        margin-bottom: 45px;
    }

.input-field {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 10px 0 10px;
}

.input {
    height: 45px;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #e6e6e6;
    outline: none;
    margin-bottom: 20px;
    color: #e0e0e0;
}

.input-box .input-field label {
    position: absolute;
    top: 10px;
    left: 10px;
    pointer-events: none;
    transition: .5s;
}

.input-field .input:focus ~ label {
    top: -10px;
    font-size: 13px;
}

.input-field .input:valid ~ label {
    top: -10px;
    font-size: 13px;
    color: #5c5c5c;
}

.input-field .input:focus, .input-field .input:valid {
    border-bottom: 1px solid #5c5c5c;
    ;
}

.submit {
    border: none;
    outline: none;
    height: 45px;
    background: #ececec;
    border-radius: 5px;
    transition: .4s;
}

    .submit:hover {
        background: rgba(37, 95, 156,0.9);
        color: #fff;
    }

.signin {
    text-align: center;
    font-size: small;
    margin-top: 25px;
}

h3{
    text-align: center;
    margin-bottom:30px;
    font-weight: bold;
}


@media only screen and (max-width: 768px) {
    .side-image {
        border-radius: 10px 10px 0 0;
    }

    img {
        width: 35px;
        position: absolute;
        top: 20px;
        left: 47%;
    }

    .text {
        position: absolute;
        top: 70%;
        text-align: center;
    }

        .text p, i {
            font-size: 17px;
        }

    .row {
        max-width: 420px;
        width: 100%;
    }
}