body {
    font-family: 'Poppins', sans-serif;
   /* background-color: #1B1B1B;*/
    color: #fff;
    background-image: url(/Content/Rental/rental_background.jpg);
    background-size: cover;
    background-position: center;
}


/*xxxxxxxxxxxxxxxxxx NAVIGATION MENU xxxxxxxxxxxxxxxxxx*/

header {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 50px;
    background: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Logo {
    text-align: center;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
}

.nav {
    display: flex;
    align-items: center;
}

    .nav ol {
        display: flex;
        list-style: none;
    }


.btn {
    position: relative;
    width: 25px;
    height: 25px;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    display: none;
}

    .btn::before {
        content: url(/Content/NavigationMenu/menu_icon.png);
        display: flex;
        padding: 5px 5px 0 3px;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        font-family: 'Font Awesome 5 Free';
        font-weight: 700;
        font-size: 2em;
    }


.nav ol li {
    margin: 1em;
}

    .nav ol li a {
        text-decoration: none;
        padding: 0.2em 1.2em 0.9em 1.2em;
        border-radius: 10px 10px 0 0;
        color: #c9c9c9;
        transition: all .4s;
        position: relative;
        z-index: 1;
    }

        .nav ol li a::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 41px;
            border-radius: 10px 10px 0 0;
            background: #3491D9;
            transform-origin: bottom;
            background: linear-gradient(to left top, #2b77b3, #392bb3);
            transform: scaleY(0.05);
            z-index: -1;
            transition: all .4s;
        }

        .nav ol li a:hover::before {
            transform: scaleY(1.1);
        }

        .nav ol li a:hover {
            color: white;
        }

@media (max-width: 1200px) {
    .btn {
        display: flex;
        z-index: 100;
    }

    header {
        justify-content: space-between;
        padding: 0 2em;
    }

    .nav {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        background: #000;
        transform: translateY(-110%);
        transition: all .4s;
    }

    input:checked ~ .nav {
        transform: translateY(0%);
    }

    input:checked::before {
        content: url(/Content/NavigationMenu/menu_icon.png);
    }
}

@media (max-width: 700px) {

    .nav ol {
        flex-direction: column;
        text-align: center;
    }
}
/*xxxxxxxxxxxxxxxxxx NAVIGATION MENU xxxxxxxxxxxxxxxxxx*/


::-webkit-scrollbar {
    height: 0px;
  }

.title{
    text-align:center;
    margin-top:30px;
}
.container {
    /*   position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);*/
    display: flex;
    gap: 12px;
    max-width: 1500px;
    width: 100%;
    border-radius: 12px;
    padding: 30px;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    scroll-padding: 30px;
   /* box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
    background: rgb(0,0,0);
    background: linear-gradient(122deg, rgba(0,0,0,1) 0%, rgba(64,56,56,1) 28%, rgba(21,94,94,1) 64%, rgba(0,0,0,1) 97%);*/
    margin-bottom: 50px;

}
    .container .card {
        display: flex;
        flex: 0 0 33%;
        flex-direction: column;
        align-items: center;
        padding: 30px;
        border-radius: 12px;
        border: 0px;
        background: #fff;
        scroll-snap-align: start;
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
    }
  .card .image {
    height: 150px;
    width: 225px;
    padding: 4px;
    background: #4070f4;
    border-radius: 10%;
  }
  .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10%;
    border: 5px solid #fff;
  }
  .card h2 {
    margin-top: 25px;
    color: #333;
    font-size: 22px;
    font-weight: 600;
  }
  .card p {
    margin-top: 4px;
    font-size: 18px;
    font-weight: 400;
    color: #333;
    text-align: left;
  }

  .button{
    background-color: #4070f4;
    border-radius: 15%;
    padding: 5%;
    color: black;
    transition: 0.4s;
    font-weight: 600;
  }

  .button:hover{
    background-color: #409df4;
    color: black;
    text-decoration: none;
  }


 

input[type="checkbox"] {
    display: none;
}

.checkbox-button {
    display: inline-block;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    background-color: #4070f4;
    text-align: center;
    cursor: pointer;
    color: #000;
}

input[type="checkbox"]:checked + .checkbox-button {
    background-color: #3cfa7e;
}


.form {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 5%;
    margin-bottom: 50px;
}
/* Form row container */
.form-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Form column container */
.form-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
/* Form element container */
.form-element {
    margin: 10px 0;
}

/* Label styles */
label {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 5px;
}

/* Input styles */
input[type="text"],
input[type="date"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

/* Radio button wrapper styles */
.radio-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

    /* Radio button input styles */
    .radio-wrapper input[type="radio"] {
        margin-right: 10px;
    }
        .radio-wrapper input[type="radio"]#no {
            margin-left: 10px;
        }
/* Button styles */
button[type="submit"] {
    padding: 10px;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;

}

    /* Button hover styles */
    button[type="submit"]:hover {
        background-color: #3e8e41;
    }

.alert_info {
    font-size: 25px;
    background: #000;
    color: white;
    text-align: center;
    width: 50%;
    border-radius: 20px;
    padding: 20px;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);*/
    text-shadow: 1px 1px #333;
    margin: 0 auto 20px;
    box-shadow: 0 0 40px 20px #0795c4;
}