
@{
    ViewData["Title"] = "Faq";
}
<link rel="stylesheet" href="~/css/faq.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">
<body>
    <main>
        @* xxxxxxxxxxxxxxxxxx NAVIGATION MENU xxxxxxxxxxxxxxxxxx  *@
        <header>
            <p class="Logo">CarWise</p>
            <input type="checkbox" name="" class="btn" />
            <div class="nav">
                <ol>
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-controller="Rent" asp-action="Index">Rent a car</a></li>
                    <li><a asp-controller="Faq" asp-action="Index">FAQ</a></li>
                    <li><a asp-controller="Login" asp-action="Index">Services</a></li>

                </ol>
            </div>
        </header>
        @* xxxxxxxxxxxxxxxxxx NAVIGATION MENU xxxxxxxxxxxxxxxxxx  *@

        <section class="faq-container">
            <div class="photo">
                <img src="~/Content/Faq/roads.jpg" />
            </div>
            <div class="faq-one">
                <!-- faq question -->
                <h1 class="faq-page">What do I need to rent a car?</h1>
                <!-- faq answer -->
                <div class="faq-body">
                    <p>
                        To book your car, all you need is a credit or debit card. When you pick the car up, you'll need:

                        Your voucher / eVoucher, to show that you've paid for the car.
                        The main driver's credit / debit card, with enough available funds for the car's deposit.
                        Each driver's full, valid driving licence, which they've held for at least 12 months (often 24).
                        Your passport and any other ID the car hire company needs to see
                    </p>
                </div>
            </div>
            <hr class="hr-line">
            <div class="faq-two">
                <!-- faq question -->
                <h1 class="faq-page">How old do I have to be to rent a car?</h1>
                <!-- faq answer -->
                <div class="faq-body">
                    <p>
                        For most car rental companies, the age requirement is between 21 and 70 years old. If you're under 25 or over 70, you might have to pay an additional fee.
                    </p>
                </div>
            </div>
            <hr class="hr-line">
            <div class="faq-three">
                <!-- faq question -->
                <h1 class="faq-page">Can I book a rental car for someone else?</h1>
                <!-- faq answer -->
                <div class="faq-body">
                    <p>
                        Yes, as long as they meet these requirements. Just fill in their details while you're making the reservation.
                    </p>
                </div>
            </div>
            <hr class="hr-line">
            <div class="faq-four">
                <!-- faq question -->
                <h1 class="faq-page">How to I find the cheapest car rental deal?</h1>
                <!-- faq answer -->
                <div class="faq-body">
                    <p>
                        We work with all the major international car hire brands (and lots of smaller local companies)
                        to bring you a huge choice of cars at the very best prices.
                        That's how we can find you cheap car hire deals at over 60,000 locations worldwide.
                        To compare prices and find your ideal car at an unbeatable price, just use our search form.
                    </p>
                </div>
            </div>
            <hr class="hr-line">
            <div class="faq-five">
                <!-- faq question -->
                <h1 class="faq-page">What should I look for when Im choosing a car?</h1>
                <!-- faq answer -->
                <div class="faq-body">
                    <p>
                        Space: You'll enjoy your rental far more if you choose a car with plenty of room for your passengers and luggage.
                        Fuel policy: Not planning on driving much? A Like for like fuel policy can save you a lot of money.
                        Location: You can't beat an 'on-airport' pick-up for convenience, but an 'off-airport' pick-up with a shuttle bus can be much cheaper
                    </p>
                </div>
            </div>
        </section>
    </main>
    <script src="main.js"></script>
</body>