@{
    ViewData["Title"] = "Panel";
}

<link rel="stylesheet" href="~/css/rent/edit.css"  asp-append-version="true" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">
@model CarWise.Models.Rental

@{
    ViewData["Title"] = "Edit Rental";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdCustomer" class="control-label"></label>
                <input asp-for="IdCustomer" class="form-control" />
                <span asp-validation-for="IdCustomer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCar" class="control-label"></label>
                <input asp-for="IdCar" class="form-control" />
                <span asp-validation-for="IdCar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReceiptDate" class="control-label"></label>
                <input asp-for="ReceiptDate" class="form-control" />
                <span asp-validation-for="ReceiptDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReturnDate" class="control-label"></label>
                <input asp-for="ReturnDate" class="form-control" />
                <span asp-validation-for="ReturnDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToPay" class="control-label"></label>
                <input asp-for="ToPay" class="form-control" />
                <span asp-validation-for="ToPay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pay" class="control-label"></label>
                <input asp-for="Pay" class="form-control" />
                <span asp-validation-for="Pay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" /> |
                <a asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}