
@{
    ViewData["Title"] = "Rent";
}

<link rel="stylesheet" href="~/css/rent.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">

@* xxxxxxxxxxxxxxxxxx NAVIGATION MENU xxxxxxxxxxxxxxxxxx  *@
<header>
    <p class="Logo">CarWise</p>
    <input type="checkbox" name="" class="btn" />
    <div class="nav">
        <ol>
            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a asp-controller="Rent" asp-action="Index">Rent a car</a></li>
            <li><a asp-controller="Faq" asp-action="Index">FAQ</a></li>
            <li><a asp-controller="Login" asp-action="Index">Services</a></li>

        </ol>
    </div>
</header>
@* xxxxxxxxxxxxxxxxxx NAVIGATION MENU xxxxxxxxxxxxxxxxxx  *@

<h1>RENT A CAR PAGE</h1>

